<!DOCTYPE html>
<html>
  <head>
    <title>Deepzoom Generator</title>
    <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "/js/home.js"></script>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"></link>

  </head>
  <body>
  	<div class="col-md-4"></div>
  	<div class="col-md-4" id="main-modal">
        <label>Select a image file or a zipped collection to upload:</label>
        <form id="uploadCollection" action="/uploadCollection" method="POST" enctype="multipart/form-data">
          <hr/>
          <fieldset>
            <div class="control-group">
              <input type="file" name="file" required="required"/>
            </div>
            <hr/>
            <div class="form-buttons">
              <button id="collection-submit" type="submit" class="btn">submit</button>
            </div>
          </fieldset>
        </form>
      </div>


      <div class="modal-loading modal hide fade">
      	<div class="modal-header">
      		<button data-dismiss="modal" class="close">x</button>
      		<h3></h3>
      	</div>
      	<div class="modal-body">
      		<h3>Loading...</h3>
      	</div>
      </div>


  </body>

  <style>
  	#main-modal {
  		margin-top:100px;
  	}

  	.modal-loading {
  		width: 400px;
  		margin: -200px 0 0 -150px;
	}
  </style>
</html>